.Toggles .TextField {
    width: 100%;
}

.Button-Container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 20px;
}

.Row {
    display: flex;
    justify-content: space-between;
}